<!--
<div>
  <div *ngFor="let media of mediaArray">
    <img [src]="mediaService.mediaUrl + media.filename" alt="Card image cap">
    <div>
      <h4>{{media.title}}</h4>
      <p>{{media.description}}</p>
    </div>
  </div>
</div>
-->
<div class="cardContainer">
  <div class="card" *ngFor="let media of mediaArray">
    <img class="card-img-top" [src]="mediaService.mediaUrl + media.filename.split('.')[0]+'-tn320.png'"
         alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{media.title}}</h4>
      <p class="card-text">{{media.description}}</p>
    </div>
  </div>
</div>


<div *ngFor="let stop of stopArray">
  <h3>
    <ul>
      <li *ngFor="let stop of stopArray">
        <p *ngFor="let x of stop.patterns">
          {{"Route going from: " + x.route.longName + ". Bus number: " + x.route.shortName + x.directionId}}
        </p>
      </li>
    </ul>
  </h3>
</div>
